body{
	background: #F3E8C0;
	font-family: 'Roboto';
}
.container{
	margin-top: 100px;
}
.card{
	display: flex;
	align-content: center;
}

.card-header{
	background: #472210 !important;
	color: #fff;
}

.card-title{
	font-size: 50px;
	text-transform: uppercase;
}
label{
	font-size: 18px;
	color: #472210;
	font-weight: bold;
}
.input{
	font-size: 24px;
	border: none;
	border-color: none;
	color: #472210 !important;
	border-bottom: 3px solid #472210;
}
.button{
	background: #472210 !important;
	height: 60px;
	font-size: 34px;
	color: #fff;
}

.button:hover{
	color: #fff;
}
nav{
	background: #472210;
}

nav ul li a{
	color: #fff;
	font-size: 18pt;
}

nav ul li a:hover{
	color: #fff;
}

footer{
	width: 100%;
	position: absolute;
	bottom:0;
}
footer p{
	text-align: center;
}